{
  "swagger": "2.0",
  "info": {
    "description": "Provides conversion/transformation services from a source to a target CRS. A coordinate operation is a conversion if the source and target CRS share the same datum; the operation is called transformation if datum transformations are involved, i.e. source and target CRS do not share the same datum.",
    "version": "1.0.0",
    "title": "CRS Conversion Service"
  },
  "host": "az-osdu1.evd.csp.slb.com",
  "x-google-allow": "all",
  "basePath": "/api/crs/v1",
  "security": [
    {
      "Bearer": []
    },
    {
      "google_id_token": []
    }
  ],
  "tags": [
    {
      "name": "CRS Conversion"
    },
    {
      "name": "Info Api"
    },
    {
      "name": "Trajectory Computation and Conversion"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/v3/convertTrajectory": {
      "post": {
        "tags": [
          "Trajectory Computation and Conversion"
        ],
        "summary": "Convert trajectory stations",
        "description": "Convert a list of trajectory stations, given the unit and spatial context and a reference point in 3D where MD==0.",
        "operationId": "convertTrajectory",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ConvertTrajectoryRequest"
            }
          },
          {
            "in": "header",
            "name": "data-partition-id",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Trajectory conversion performed successfully",
            "schema": {
              "$ref": "#/definitions/ConvertTrajectoryResponse"
            }
          },
          "400": {
            "description": "Bad input format",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "CRS-converter overloaded; try again later. See HttpHeader 'Retry-After'.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "google_id_token": []
          }
        ]
      }
    },
    "/v3/convert": {
      "post": {
        "tags": [
          "CRS Conversion"
        ],
        "summary": "Convert a list of points",
        "description": "Convert a list of points",
        "operationId": "convertPoint",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ConvertPointsRequest"
            }
          },
          {
            "in": "header",
            "name": "data-partition-id",
            "required": false
          }
        ],

        "responses": {
          "200": {
            "description": "Conversion performed successfully",
            "schema": {
              "$ref": "#/definitions/ConvertPointsResponse"
            }
          },
          "400": {
            "description": "Bad input format",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "CRS-converter overloaded; try again later. See HttpHeader 'Retry-After'.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "google_id_token": []
          }
        ]
      }
    },
    "/v3/convertGeoJson": {
      "post": {
        "tags": [
          "CRS Conversion"
        ],
        "summary": "Convert a GeoJSON or AnyCrsGeoJson structure",
        "description": "Convert a GeoJSON or AnyCrsGeoJson structure to a specified target CRS. GeoJSON is declared - by definition - to be in the context of WGS 84.",
        "operationId": "convertGeoJson",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ConvertGeoJsonRequest"
            }
          },
          {
            "in": "header",
            "name": "data-partition-id",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion performed successfully",
            "schema": {
              "$ref": "#/definitions/ConvertGeoJsonResponse"
            }
          },
          "400": {
            "description": "Bad input format",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "CRS-converter overloaded; try again later. See HttpHeader 'Retry-After'.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "google_id_token": []
          }
        ]
      }
    },
	"/v3/convertBinGrid": {
      "post": {
        "tags": [
          "CRS Conversion"
        ],
        "operationId": "convertBinGrid",
        "parameters": [
          {
            "name": "data-partition-id",
            "in": "header",
            "description": "Tenant Id",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertBinGridRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertBinGridResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/info": {
      "get": {
          "tags": [
              "Info Api"
          ],
          "summary": "info",
          "operationId": "infoUsingGET",
          "consumes": [
              "application/json"
          ],
          "produces": [
              "application/json"
          ],
          "parameters": [
              {
                  "name": "data-partition-id",
                  "in": "header",
                  "description": "tenant",
                  "required": true,
                  "type": "string",
                  "default": "opendes"
              }
          ],
          "responses": {
              "200": {
                  "description": "OK",
                  "schema": {
                      "$ref": "#/definitions/VersionInfo"
                  }
              },
              "401": {
                  "description": "Unauthorized"
              },
              "403": {
                  "description": "Forbidden"
              },
              "404": {
                  "description": "Not Found"
              }
          }
      }
  }
  },
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "ConvertTrajectoryResponse": {
      "type": "object",
      "required": [
        "localCRS",
        "method",
        "stations",
        "trajectoryCRS",
        "unitDls",
        "unitZ"
      ],
      "properties": {
        "trajectoryCRS": {
          "type": "string",
          "example": "osdu:reference-data--CoordinateReferenceSystem:BoundProjected:EPSG::23032_EPSG::1612:",
          "description": "Coordinate reference system for the reference point; typically the CRS is a projected CRS; if a geographic CRS is provided, the unitXY must be defined and the azimuthReference must be TrueNorth."
        },
        "unitXY": {
          "type": "string",
          "example": "osdu:reference-data--UnitOfMeasure:m:",
          "description": "The horizontal unit of the dx, dy in the output trajectory stations."
        },
        "unitZ": {
          "type": "string",
          "example": "osdu:reference-data--UnitOfMeasure:m:",
          "description": "The vertical unit of the dz in the output trajectory stations."
        },
        "unitDls": {
          "type": "string",
          "example": "{\"scaleOffset\":{\"scale\":5.72614583987641E-4,\"offset\":0.0},\"symbol\":\"deg/100ft\",\"baseMeasurement\":{\"ancestry\":\"Rotation_Per_Length\",\"type\":\"UM\"},\"type\":\"USO\"}",
          "description": "The unit of the dog leg severity (DLS) in the output trajectory stations."
        },
        "stations": {
          "type": "array",
          "description": "Computed trajectory stations.",
          "items": {
            "$ref": "#/definitions/TrajectoryStationOut"
          }
        },
        "localCRS": {
          "type": "string",
          "example": "osdu:reference-data--CoordinateReferenceSystem:BoundProjected:EPSG::23032_EPSG::1612:",
            "description": "Coordinate Reference System for the local, True North oriented, true distance, engineering CRS with origin at the well's surface location."
        },
        "method": {
          "type": "string",
          "example": "AzimuthalEquidistant",
          "description": "The computation method used - 'AzimuthalEquidistant' (default) or 'LMP' (Lee's modified proposal SPE96813)."
        },
        "operationsApplied": {
          "type": "array",
          "description": "The list of operations, which have been applied to the points",
          "items": {
            "type": "string"
          }
        }
      },
      "example": {
          "trajectoryCRS": "{\"authCode\":{\"auth\":\"OSDU\",\"code\":\"23032023\"},\"lateBoundCRS\":{\"authCode\":{\"auth\":\"EPSG\",\"code\":\"23032\"},\"name\":\"ED_1950_UTM_Zone_32N\",\"type\":\"LBC\",\"ver\":\"PE_10_9_1\",\"wkt\":\"PROJCS[\\\"ED_1950_UTM_Zone_32N\\\",GEOGCS[\\\"GCS_European_1950\\\",DATUM[\\\"D_European_1950\\\",SPHEROID[\\\"International_1924\\\",6378388.0,297.0]],PRIMEM[\\\"Greenwich\\\",0.0],UNIT[\\\"Degree\\\",0.0174532925199433]],PROJECTION[\\\"Transverse_Mercator\\\"],PARAMETER[\\\"False_Easting\\\",500000.0],PARAMETER[\\\"False_Northing\\\",0.0],PARAMETER[\\\"Central_Meridian\\\",9.0],PARAMETER[\\\"Scale_Factor\\\",0.9996],PARAMETER[\\\"Latitude_Of_Origin\\\",0.0],UNIT[\\\"Meter\\\",1.0],AUTHORITY[\\\"EPSG\\\",23032]]\"},\"name\":\"ED50 * EPSG-Nor N62 2001 / UTM zone 32N [23032,1612]\",\"singleCT\":{\"authCode\":{\"auth\":\"EPSG\",\"code\":\"1612\"},\"name\":\"ED_1950_To_WGS_1984_23\",\"type\":\"ST\",\"ver\":\"PE_10_9_1\",\"wkt\":\"GEOGTRAN[\\\"ED_1950_To_WGS_1984_23\\\",GEOGCS[\\\"GCS_European_1950\\\",DATUM[\\\"D_European_1950\\\",SPHEROID[\\\"International_1924\\\",6378388.0,297.0]],PRIMEM[\\\"Greenwich\\\",0.0],UNIT[\\\"Degree\\\",0.0174532925199433]],GEOGCS[\\\"GCS_WGS_1984\\\",DATUM[\\\"D_WGS_1984\\\",SPHEROID[\\\"WGS_1984\\\",6378137.0,298.257223563]],PRIMEM[\\\"Greenwich\\\",0.0],UNIT[\\\"Degree\\\",0.0174532925199433]],METHOD[\\\"Position_Vector\\\"],PARAMETER[\\\"X_Axis_Translation\\\",-116.641],PARAMETER[\\\"Y_Axis_Translation\\\",-56.931],PARAMETER[\\\"Z_Axis_Translation\\\",-110.559],PARAMETER[\\\"X_Axis_Rotation\\\",0.893],PARAMETER[\\\"Y_Axis_Rotation\\\",0.921],PARAMETER[\\\"Z_Axis_Rotation\\\",-0.917],PARAMETER[\\\"Scale_Difference\\\",-3.52],OPERATIONACCURACY[1.0],AUTHORITY[\\\"EPSG\\\",1612]]\"},\"type\":\"EBC\",\"ver\":\"PE_10_9_1\"}",
          "unitXY": "{\"abcd\":{\"a\":0.0,\"b\":1.0,\"c\":1.0,\"d\":0.0},\"symbol\":\"m\",\"baseMeasurement\":{\"ancestry\":\"L\",\"type\":\"UM\"},\"type\":\"UAD\"}",
          "unitZ": "{\"abcd\":{\"a\":0.0,\"b\":1.0,\"c\":1.0,\"d\":0.0},\"symbol\":\"m\",\"baseMeasurement\":{\"ancestry\":\"L\",\"type\":\"UM\"},\"type\":\"UAD\"}",
          "unitDls": "{\"scaleOffset\":{\"scale\":5.81776417331443E-4,\"offset\":0.0},\"symbol\":\"deg/30m\",\"baseMeasurement\":{\"ancestry\":\"Rotation_Per_Length\",\"type\":\"UM\"},\"type\":\"USO\"}",
          "stations": [
              {
                  "md": 1000.0,
                  "inclination": 10.0,
                  "azimuthTN": 100.0,
                  "azimuthGN": 101.47040021177617,
                  "dxTN": 0.0,
                  "dyTN": 0.0,
                  "point": {
                      "x": 399999.9999999993,
                      "y": 6499999.999999928,
                      "z": 0.0
                  },
                  "wgs84Longitude": 7.276532126322325,
                  "wgs84Latitude": 58.62690776508145,
                  "dls": 0.0,
                  "original": true,
                  "dz": 0.0
              },
              {
                  "md": 1100.0,
                  "inclination": 353.0,
                  "azimuthTN": 109.99999999999997,
                  "azimuthGN": 111.47040021177618,
                  "dxTN": 2.8452664243320682,
                  "dyTN": 0.5806383130775794,
                  "point": {
                      "x": 400002.8584357548,
                      "y": 6500000.5072952835,
                      "z": -99.59397980386184
                  },
                  "wgs84Longitude": 7.276581101333077,
                  "wgs84Latitude": 58.62691297828593,
                  "dls": 5.081064425226088,
                  "original": false,
                  "dz": 99.59397980386184
              },
              {
                  "md": 1200.0,
                  "inclination": 336.0,
                  "azimuthTN": 119.99999999999997,
                  "azimuthGN": 121.47040021177617,
                  "dxTN": -20.66869407530016,
                  "dyTN": 12.92541709829575,
                  "point": {
                      "x": 399979.6754244676,
                      "y": 6500013.447798917,
                      "z": -195.61630358526304
                  },
                  "wgs84Longitude": 7.2761763531368535,
                  "wgs84Latitude": 58.62702379932105,
                  "dls": 5.144088046047178,
                  "original": false,
                  "dz": 195.61630358526304
              },
              {
                  "md": 1300.0,
                  "inclination": 319.0,
                  "azimuthTN": 130.00000000000006,
                  "azimuthGN": 131.47040021177617,
                  "dxTN": -63.75564049687147,
                  "dyTN": 44.432329909105846,
                  "point": {
                      "x": 399937.4228726906,
                      "y": 6500046.0409315545,
                      "z": -279.7047271436569
                  },
                  "wgs84Longitude": 7.275434680931274,
                  "wgs84Latitude": 58.62730664194073,
                  "dls": 5.333168826944044,
                  "original": false,
                  "dz": 279.7047271436569
              },
              {
                  "md": 1400.0,
                  "inclination": 302.0,
                  "azimuthTN": 140.00000000000006,
                  "azimuthGN": 141.47040021177614,
                  "dxTN": -116.60408398178933,
                  "dyTN": 98.47445610555741,
                  "point": {
                      "x": 399885.9928507756,
                      "y": 6500101.406037619,
                      "z": -344.5053333204153
                  },
                  "wgs84Longitude": 7.274524950723944,
                  "wgs84Latitude": 58.62779178675019,
                  "dls": 5.575480015849705,
                  "original": false,
                  "dz": 344.5053333204153
              },
              {
                  "md": 1500.0,
                  "inclination": 285.0,
                  "azimuthTN": 150.00000000000003,
                  "azimuthGN": 151.47040021177614,
                  "dxTN": -168.49907521032137,
                  "dyTN": 173.49232497733146,
                  "point": {
                      "x": 399836.0538118491,
                      "y": 6500177.709724574,
                      "z": -384.3190232562589
                  },
                  "wgs84Longitude": 7.273631584765621,
                  "wgs84Latitude": 58.62846523614468,
                  "dls": 5.786928178767722,
                  "original": false,
                  "dz": 384.3190232562589
              },
              {
                  "md": 1600.0,
                  "inclination": 267.99999999999994,
                  "azimuthTN": 160.00000000000003,
                  "azimuthGN": 161.47040021177614,
                  "dxTN": -210.1477282077374,
                  "dyTN": 263.1566507085972,
                  "point": {
                      "x": 399796.73064958124,
                      "y": 6500268.388149488,
                      "z": -395.62628994502586
                  },
                  "wgs84Longitude": 7.2729145459328075,
                  "wgs84Latitude": 58.62927017527862,
                  "dls": 5.901398645347646,
                  "original": false,
                  "dz": 395.62628994502586
              },
              {
                  "md": 1700.0,
                  "inclination": 250.99999999999997,
                  "azimuthTN": 170.0,
                  "azimuthGN": 171.4704002117761,
                  "dxTN": -235.697816948047,
                  "dyTN": 357.594854998789,
                  "point": {
                      "x": 399773.6187815813,
                      "y": 6500363.424579929,
                      "z": -377.4247248959122
                  },
                  "wgs84Longitude": 7.272474595087274,
                  "wgs84Latitude": 58.630117979901705,
                  "dls": 5.88555698125438,
                  "original": false,
                  "dz": 377.4247248959122
              },
              {
                  "md": 1800.0,
                  "inclination": 234.0,
                  "azimuthTN": 180.0,
                  "azimuthGN": 181.4704002117761,
                  "dxTN": -243.98445247056594,
                  "dyTN": 445.42222406983217,
                  "point": {
                      "x": 399767.5903271738,
                      "y": 6500451.411306879,
                      "z": -331.32728624995434
                  },
                  "wgs84Longitude": 7.2723318203672775,
                  "wgs84Latitude": 58.630906447053526,
                  "dls": 5.743921103190866,
                  "original": false,
                  "dz": 331.32728624995434
              },
              {
                  "md": 1900.0,
                  "inclination": 216.99999999999997,
                  "azimuthTN": 190.0,
                  "azimuthGN": 191.47040021177608,
                  "dxTN": -238.71390243820557,
                  "dyTN": 516.1148932887119,
                  "point": {
                      "x": 399774.6712747228,
                      "y": 6500521.925916064,
                      "z": -261.4046588313006
                  },
                  "wgs84Longitude": 7.272422453177677,
                  "wgs84Latitude": 58.63154109671888,
                  "dls": 5.518259092783264,
                  "original": false,
                  "dz": 261.4046588313006
              },
              {
                  "md": 2000.0,
                  "inclination": 200.0,
                  "azimuthTN": 200.0,
                  "azimuthGN": 201.4704002117762,
                  "dxTN": -227.55187733776395,
                  "dyTN": 562.1810883157433,
                  "point": {
                      "x": 399787.00835051807,
                      "y": 6500567.67783067,
                      "z": -173.79810638019308
                  },
                  "wgs84Longitude": 7.272614546963371,
                  "wgs84Latitude": 58.63195466547982,
                  "dls": 5.280737563732,
                  "original": true,
                  "dz": 173.79810638019308
              }
          ],
          "localCRS": "{\"lateBoundCRS\":{\"name\":\"Azimuthal Equidistant\",\"type\":\"LBC\",\"ver\":\"PE_10_9_1\",\"wkt\":\"PROJCS[\\\"Azimuthal Equidistant Lng=7.27795820;Lat=58.62743374\\\",GEOGCS[\\\"GCS_European_1950\\\",DATUM[\\\"D_European_1950\\\",SPHEROID[\\\"International_1924\\\",6378388.0,297.0]],PRIMEM[\\\"Greenwich\\\",0.0],UNIT[\\\"Degree\\\",0.0174532925199433]],PROJECTION[\\\"Modified Azimuthal_Equidistant\\\"],PARAMETER[\\\"False_Easting\\\",0.0],PARAMETER[\\\"False_Northing\\\",0.0],PARAMETER[\\\"Central_Meridian\\\",7.277958201851517],PARAMETER[\\\"Latitude_Of_Origin\\\",58.62743374182612],UNIT[\\\"Meter\\\",1.0]]\"},\"name\":\"Azimuthal Equidistant - ED_1950_To_WGS_1984_23\",\"singleCT\":{\"authCode\":{\"auth\":\"EPSG\",\"code\":\"1612\"},\"name\":\"ED_1950_To_WGS_1984_23\",\"type\":\"ST\",\"ver\":\"PE_10_9_1\",\"wkt\":\"GEOGTRAN[\\\"ED_1950_To_WGS_1984_23\\\",GEOGCS[\\\"GCS_European_1950\\\",DATUM[\\\"D_European_1950\\\",SPHEROID[\\\"International_1924\\\",6378388.0,297.0]],PRIMEM[\\\"Greenwich\\\",0.0],UNIT[\\\"Degree\\\",0.0174532925199433]],GEOGCS[\\\"GCS_WGS_1984\\\",DATUM[\\\"D_WGS_1984\\\",SPHEROID[\\\"WGS_1984\\\",6378137.0,298.257223563]],PRIMEM[\\\"Greenwich\\\",0.0],UNIT[\\\"Degree\\\",0.0174532925199433]],METHOD[\\\"Position_Vector\\\"],PARAMETER[\\\"X_Axis_Translation\\\",-116.641],PARAMETER[\\\"Y_Axis_Translation\\\",-56.931],PARAMETER[\\\"Z_Axis_Translation\\\",-110.559],PARAMETER[\\\"X_Axis_Rotation\\\",0.893],PARAMETER[\\\"Y_Axis_Rotation\\\",0.921],PARAMETER[\\\"Z_Axis_Rotation\\\",-0.917],PARAMETER[\\\"Scale_Difference\\\",-3.52],OPERATIONACCURACY[1.0],AUTHORITY[\\\"EPSG\\\",1612]]\"},\"type\":\"EBC\",\"ver\":\"PE_10_9_1\"}",
          "method": "AzimuthalEquidistant",
          "operationsApplied": [
              "derived GN from TN azimuth by grid convergence 1.470400",
              "added interpolated stations",
              "computed deflections via minimum curvature method",
              "computation method: AzimuthalEquidistant",
              "conversion from 'Azimuthal Equidistant' to 'GCS_European_1950'",
              "conversion from 'GCS_European_1950' to 'ED_1950_UTM_Zone_32N'",
              "to WGS 84: conversion from ED_1950_UTM_Zone_32N to GCS_European_1950; 11 points converted",
              "to WGS 84: transformation GCS_European_1950 to GCS_WGS_1984 using ED_1950_To_WGS_1984_23; 11 points successfully transformed"
          ],
          "inputKind": "MD_Incl_Azim"
      },
      "description": "Trajectory response data structure; contains the context (crs, units)."
    },
    "Point": {
      "type": "object",
      "required": [
        "x",
        "y",
        "z"
      ],
      "properties": {
        "x": {
          "type": "number",
          "format": "double",
          "example": 484074.5862320617,
          "description": "x coordinate or longitude"
        },
        "y": {
          "type": "number",
          "format": "double",
          "example": 5499819.191561815,
          "description": "y coordinate or latitude"
        },
        "z": {
          "type": "number",
          "format": "double",
          "example": 0,
          "description": "z coordinate"
        }
      },
      "description": "Point representation for CRS operations"
    },
    "TrajectoryStationOut": {
      "type": "object",
      "required": [
        "azimuthGN",
        "azimuthTN",
        "dxTN",
        "dyTN",
        "inclination",
        "md",
        "point"
      ],
      "properties": {
        "md": {
          "type": "number",
          "format": "double",
          "example": 2563.56,
          "description": "MD (measured depth) from vertical reference point in 'unitZ'."
        },
        "inclination": {
          "type": "number",
          "format": "double",
          "example": 15,
          "description": "Inclination angle in degrees of arc, 0.0 is vertical, 90.0 is horizontal."
        },
        "azimuthTN": {
          "type": "number",
          "format": "double",
          "example": 355.96,
          "description": "True North azimuth angle in degrees of arc, 0.0/360.0 is North."
        },
        "azimuthGN": {
          "type": "number",
          "format": "double",
          "example": 355,
          "description": "Grid North azimuth angle in degrees of arc, 0.0/360.0 is North."
        },
        "dxTN": {
          "type": "number",
          "format": "double",
          "example": 55.9,
          "description": "True E-W deviation in the local Cartesian engineering CRS from the well reference point; unit is given by container's 'unitXY'."
        },
        "dyTN": {
          "type": "number",
          "format": "double",
          "example": -145.3,
          "description": "True N-S deviation in the local Cartesian engineering CRS from the well reference point; Y is aligned with TrueNorth; unit is given by container's 'unitXY'."
        },
        "point": {
          "description": "Trajectory station point in trajectoryCRS and vertical unit as defined in container's 'unitZ'.",
          "$ref": "#/definitions/Point"
        },
        "wgs84Longitude": {
          "type": "number",
          "format": "double",
          "description": "WGS 84 longitude in dega"
        },
        "wgs84Latitude": {
          "type": "number",
          "format": "double",
          "description": "WGS 84 latitude in dega"
        },
        "dls": {
          "type": "number",
          "format": "double",
          "description": "Curvature, Dog Leg Severity, measured in 'unitDls'."
        },
        "original": {
          "type": "boolean",
          "description": "Original trajectory station if true, interpolated trajectory station if false."
        },
        "dz": {
          "type": "number",
          "format": "double"
        }
      },
      "description": "Output trajectory station record; context is provided by the container."
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "description": "Error message"
        }
      },
      "description": "Response resulting of a failed CRS convertion operation"
    },
    "ConvertTrajectoryRequest": {
      "type": "object",
      "required": [
        "azimuthReference",
        "inputStations",
        "method",
        "referencePoint",
        "trajectoryCRS",
        "unitZ"
      ],
      "properties": {
        "trajectoryCRS": {
          "type": "string",
          "example": "osdu:reference-data--CoordinateReferenceSystem:BoundProjected:EPSG::23032_EPSG::1612:",
          "description": "Coordinate reference system for the reference point; typically the CRS is a projected CRS; if a geographic CRS is provided, the unitXY must be defined and the azimuthReference must be TrueNorth. The property value could be a persistable reference string or a record ID"
        },
        "azimuthReference": {
          "type": "string",
          "example": "TrueNorth",
          "description": "Azimuth reference for the input trajectory station azimuth values (TrueNorth or GridNorth)"
        },
        "unitXY": {
          "type": "string",
          "example": "osdu:reference-data--UnitOfMeasure:m:",
          "description": "The horizontal unit of the dx, dy in the input trajectory stations; the unit must be a length unit in persistable reference or a record ID, see example."
        },
        "unitZ": {
          "type": "string",
          "example": "osdu:reference-data--UnitOfMeasure:m:",
          "description": "The vertical unit of the dz in the input trajectory stations; the unit could be a persistable reference or a record ID"
        },
        "referencePoint": {
          "description": "The 3D reference point in the 'trajectoryCRS' where MD==0.",
          "$ref": "#/definitions/Point"
        },
        "inputStations": {
          "type": "array",
          "description": "The array of input trajectory stations",
          "items": {
            "$ref": "#/definitions/TrajectoryStationIn"
          }
        },
        "method": {
          "type": "string",
          "example": "AzimuthalEquidistant",
          "description": "The computation method - 'AzimuthalEquidistant' (default) or 'LMP' (Lee's modified proposal SPE96813)"
        },
        "inputKind": {
          "type": "string",
          "example": "MD_Incl_Azim",
          "description": "The kind of input; one of MD_Incl_Azim (default), MD_X_Y_Z, MD_dX_dY_dZ, X_Y_Z, dX_dY_dZ. MD stands for measured depth; MD_X_Y_Z/X_Y_Z stand for absolute coordinates in the reference CRS, MD_dX_dY_dZ/dX_dY_dZ stand for deviations relative to the reference point."
        },
        "interpolate": {
          "type": "boolean",
          "description": "Perform trajectory interpolation on demand; default is true."
        }
      },
      "description": "Input trajectory data structure; contains the context (crs, units, azimuth reference, method)",
      "example": {
        "trajectoryCRS": "osdu:reference-data--CoordinateReferenceSystem:BoundProjected:EPSG::23032_EPSG::1612:",
        "azimuthReference": "TN",
        "unitXY": "osdu:reference-data--UnitOfMeasure:m:",
        "unitZ": "osdu:reference-data--UnitOfMeasure:m:",
        "referencePoint": {
          "x": 400000,
          "y": 6500000,
          "z": 0
        },
        "inputKind": "MD_Incl_Azim",
        "interpolate": true,
        "inputStations": [
          {
            "md": 1000,
            "azimuth": 100,
            "inclination": 10
          },
          {
            "md": 2000,
            "azimuth": 200,
            "inclination": 200
          }
        ],
        "method": "AzimuthalEquidistant"
      }
    },
    "TrajectoryStationIn": {
      "type": "object",
      "required": [
        "azimuth",
        "inclination",
        "md"
      ],
      "properties": {
        "md": {
          "type": "number",
          "format": "double",
          "example": 1000,
          "description": "MD (measured depth) from vertical reference point in 'unitZ'."
        },
        "inclination": {
          "type": "number",
          "format": "double",
          "example": 10,
          "description": "Inclination angle in degrees of arc, 0.0 is vertical, 90.0 is horizontal."
        },
        "azimuth": {
          "type": "number",
          "format": "double",
          "example": 100,
          "description": "Azimuth angle in degrees of arc, 0.0/360.0 is North; reference given by azimuthReference (TrueNorth or GridNorth)."
        },
        "dx": {
          "type": "number",
          "format": "double",
          "example": 55.9,
          "description": "E-W deviation in the local Cartesian engineering CRS from the well reference point; unit is given by container's 'unitXY' or projected 'trajectoryCRS'."
        },
        "dy": {
          "type": "number",
          "format": "double",
          "example": -145.3,
          "description": "N-S deviation in the local Cartesian engineering CRS from the well reference point; Y is aligned with azimuth reference (TrueNorth or projected GridNorth); unit is given by container's 'unitXY' or projected 'trajectoryCRS'."
        },
        "dz": {
          "type": "number",
          "format": "double",
          "example": 1965.6,
          "description": "True vertical deviation in the local Cartesian engineering CRS from the well reference point; unit is given by container's unitZ; downwards positive."
        }
      },
      "description": "Input trajectory station record; context is provided by the container."
    },
    "ConvertPointsResponse": {
      "type": "object",
      "properties": {
        "successCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of points successfully converted. If the number is less than the request array length conversion/transformation failures occurred."
        },
        "points": {
          "type": "array",
          "description": "Converted points; length and order of the array is the same as in the request. Points, which failed to convert, are returned as NaN.",
          "items": {
            "$ref": "#/definitions/Point"
          }
        },
        "operationsApplied": {
          "type": "array",
          "description": "The list of operations, which have been applied to the points",
          "items": {
            "type": "string"
          }
        }
      },
      "example": {
        "successCount": 1,
        "points": [
            {
                "x": 484074.5862320617,
                "y": 5499819.191561815,
                "z": 0.0
            }
        ],
        "operationsApplied": [
            "conversion from RD_New to GCS_Amersfoort; 1 points converted",
            "transformation GCS_Amersfoort to GCS_WGS_1984 using Amersfoort_To_WGS_1984_2; 1 points successfully transformed",
            "conversion from GCS_WGS_1984 to WGS_1984_UTM_Zone_32N; 1 points converted"
        ]
      },
      "description": "Response of a CRS conversion/transformation operation"
    },
    "ConvertPointsRequest": {
      "type": "object",
      "required": [
        "fromCRS",
        "points",
        "toCRS"
      ],
      "properties": {
        "fromCRS": {
          "type": "string",
          "example": "osdu:reference-data--CoordinateReferenceSystem:BoundProjected:EPSG::28992_EPSG::1672:",
          "description": "Source CRS as persistable reference string or a record ID"
        },
        "toCRS": {
          "type": "string",
          "example": "osdu:reference-data--CoordinateReferenceSystem:Projected:EPSG::32632:",
          "description": "Target CRS as persistable reference string or a record ID"
        },
        "points": {
          "type": "array",
          "description": "List of points to be converted",
          "items": {
            "$ref": "#/definitions/Point"
          }
        }
      },
      "description": "Request to convert a set of points from a source CRS to a target CRS.",
      "example": {
        "fromCRS": "osdu:reference-data--CoordinateReferenceSystem:BoundProjected:EPSG::28992_EPSG::1672:",
        "toCRS":"osdu:reference-data--CoordinateReferenceSystem:Projected:EPSG::32632:",
        "points": [
          {
            "x" : 400000,
            "y" : 190000,
            "z" : 0
          }
        ]
      }
    },
    "ConvertGeoJsonRequest": {
      "title": "Convert GeoJson/AnyCrsGeoJson Request",
      "description": "Request to convert a GeoJSON FeatureCollection or AnyCrsFeatureCollection from WGS 84 or AnyCrsFeatureCollection.persistableReferenceCrs to a target CRS.",
      "type": "object",
      "required": [
        "featureCollection",
        "toCRS"
      ],
      "properties": {
        "featureCollection": {
          "$ref": "#/definitions/AnyCrsGeoJsonFeatureCollection"
        },
        "toCRS": {
          "title": "GeoJson Request",
          "type": "string",
          "description": "The GeoJSON FeatureCollection or AnyCrsFeatureCollection structure to be converted/transformed. GeoJSON is always based on WGS 84; AnyCrsFeatureCollection carries the CRS context in the persistableReferenceCrs property. This value could be persistable reference string or a record ID"
        },
        "toUnitZ": {
          "type": "string",
          "description": "The vertical axis unit for this AnyCrsGeoJsonFeatureCollection as persistable reference string or a record ID)",
          "title": "Vertical Unit"
        }
      },
      "example": {
        "toCRS": "osdu:reference-data--CoordinateReferenceSystem:Geographic2D:EPSG::4326:",
        "toUnitZ": "osdu:reference-data--UnitOfMeasure:m:",
        "featureCollection": {
          "type": "AnyCrsFeatureCollection",
          "CoordinateReferenceSystemID": "osdu:reference-data--CoordinateReferenceSystem:BoundProjected:EPSG::29193_EPSG::1867:",
          "persistableReferenceCrs": "osdu:reference-data--CoordinateReferenceSystem:BoundProjected:EPSG::29193_EPSG::1867:",
          "persistableReferenceUnitZ": "osdu:reference-data--UnitOfMeasure:m:",
          "features": [
            {
              "type": "AnyCrsFeature",
              "properties": {},
              "geometry": {
                "type": "AnyCrsPolygon",
                "coordinates": [
                  [
                  [697339.525, 7239989.403, 0],
                  [697339.525, 7239989.500, 0],
                  [697339.525, 7239989.600, 0],
                  [697339.525, 7239989.403, 0]
                  ]
                ],
                "bbox": null
              },
              "bbox": null
            }
          ],
          "bbox": null,
          "properties": {}
        }
      }
    },
    "ConvertGeoJsonResponse": {
      "title": "Convert GeoJSON/AnyCrsGeoJson response",
      "description": "Response of a CRS conversion/transformation operation involving GeoJSON FeatureCollection or AnyCrsFeatureCollection.",
      "type": "object",
      "properties": {
        "totalCount": {
          "type": "integer",
          "description": "The total number of coordinates in the GeoJSON FeatureCollection or AnyCrsFeatureCollection."
        },
        "successCount": {
          "type": "integer",
          "description": "The number of coordinates in the GeoJSON FeatureCollection or AnyCrsFeatureCollection successfully converted/transformed. If this number is less than totalCount then conversion/transformation errors have occurred."
        },
        "featureCollection": {
          "$ref": "#/definitions/AnyCrsGeoJsonFeatureCollection"
        },
        "operationsApplied": {
          "type": "array",
          "description": "The list of operations, which have been applied to the points",
          "items": {
            "type": "string"
          }
        }
      },
      "example": {
        "successCount": 4,
        "totalCount": 4,
        "featureCollection": {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [
                            [
                                [
                                    -43.04597676303939,
                                    -24.94299718370678,
                                    0.0
                                ],
                                [
                                    -43.04597677685517,
                                    -24.942996308196268,
                                    0.0
                                ],
                                [
                                    -43.04597679109822,
                                    -24.942995405608062,
                                    0.0
                                ],
                                [
                                    -43.04597676303939,
                                    -24.94299718370678,
                                    0.0
                                ]
                            ]
                        ]
                    },
                    "properties": {}
                }
            ],
            "properties": {},
            "persistableReferenceUnitZ": "{\"scaleOffset\":{\"scale\":1.0,\"offset\":0.0},\"symbol\":\"m\",\"baseMeasurement\":{\"ancestry\":\"Length\",\"type\":\"UM\"},\"type\":\"USO\"}"
        },
        "operationsApplied": [
            "conversion from SAD_1969_UTM_Zone_23S to GCS_South_American_1969; 4 points converted",
            "transformation GCS_South_American_1969 to GCS_WGS_1984 using SAD_1969_To_WGS_1984_4; 4 points successfully transformed",
            "No unit conversion for Z-axis"
        ]
      }
    },
	"ConvertBinGridRequest": {
        "type": "object",
        "properties": {
          "toCRS": {
            "type": "string"
          },
          "inBinGrid": {
            "$ref": "#/components/schemas/AbstractBinGrid"
          }
        }
      },
	  "Geometry": {
        "required": [
          "coordinates",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "double"
            }
          }
        }
      },
	  "PointProperties": {
        "type": "object",
        "properties": {
          "Label": {
            "type": "string"
          },
          "Inline": {
            "type": "integer",
            "format": "int32"
          },
          "Crossline": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
	  "PropertiesBinGridCorners": {
        "type": "object",
        "properties": {
          "Kind": {
            "type": "string"
          },
          "PointProperties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PointProperties"
            }
          }
        }
      },
	  "ConvertBinGridResponse": {
        "type": "object",
        "properties": {
          "maxMisLocation": {
            "$ref": "#/components/schemas/MaxMisLocation"
          },
          "outBinGrid": {
            "$ref": "#/components/schemas/AbstractBinGrid"
          },
          "AppliedOperations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
	  "MaxMisLocation": {
        "type": "object",
        "properties": {
          "dI": {
            "type": "number",
            "format": "double"
          },
          "dJ": {
            "type": "number",
            "format": "double"
          }
        }
      },
    "AnyCrsGeoJsonPoint": {
      "title": "AnyCrsGeoJSON Point",
      "type": "object",
      "required": [
        "type",
        "coordinates"
      ],
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "Point",
            "AnyCrsPoint"
          ]
        },
        "coordinates": {
          "type": "array",
          "minItems": 2,
          "items": {
            "type": "number"
          }
        },
        "bbox": {
          "type": "array",
          "minItems": 4,
          "items": {
            "type": "number"
          }
        }
      }
    },
    "AnyCrsGeoJsonMultiPoint": {
      "title": "AnyCrsGeoJSON MultiPoint",
      "type": "object",
      "required": [
        "type",
        "coordinates"
      ],
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "MultiPoint",
            "AnyCrsMultiPoint"
          ]
        },
        "coordinates": {
          "type": "array",
          "items": {
            "type": "array",
            "minItems": 2,
            "items": {
              "type": "number"
            }
          }
        },
        "bbox": {
          "type": "array",
          "minItems": 4,
          "items": {
            "type": "number"
          }
        }
      }
    },
    "AnyCrsGeoJsonLineString": {
      "title": "AnyCrsGeoJSON LineString",
      "type": "object",
      "required": [
        "type",
        "coordinates"
      ],
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "LineString",
            "AnyCrsLineString"
          ]
        },
        "coordinates": {
          "type": "array",
          "minItems": 2,
          "items": {
            "type": "array",
            "minItems": 2,
            "items": {
              "type": "number"
            }
          }
        },
        "bbox": {
          "type": "array",
          "minItems": 4,
          "items": {
            "type": "number"
          }
        }
      }
    },
    "AnyCrsGeoJsonMultiLineString": {
      "title": "AnyCrsGeoJSON MultiLineString",
      "type": "object",
      "required": [
        "type",
        "coordinates"
      ],
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "MultiLineString",
            "AnyCrsMultiLineString"
          ]
        },
        "coordinates": {
          "type": "array",
          "items": {
            "type": "array",
            "minItems": 2,
            "items": {
              "type": "array",
              "minItems": 2,
              "items": {
                "type": "number"
              }
            }
          }
        },
        "bbox": {
          "type": "array",
          "minItems": 4,
          "items": {
            "type": "number"
          }
        }
      }
    },
    "AnyCrsGeoJsonPolygon": {
      "title": "AnyCrsGeoJSON Polygon",
      "type": "object",
      "required": [
        "type",
        "coordinates"
      ],
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "Polygon",
            "AnyCrsPolygon"
          ]
        },
        "coordinates": {
          "type": "array",
          "items": {
            "type": "array",
            "minItems": 4,
            "items": {
              "type": "array",
              "minItems": 2,
              "items": {
                "type": "number"
              }
            }
          }
        },
        "bbox": {
          "type": "array",
          "minItems": 4,
          "items": {
            "type": "number"
          }
        }
      }
    },
    "AnyCrsGeoJsonMultiPolygon": {
      "title": "GeoJSON MultiPolygon",
      "type": "object",
      "required": [
        "type",
        "coordinates"
      ],
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "MultiPolygon",
            "AnyCrsMultiPolygon"
          ]
        },
        "coordinates": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "array",
              "minItems": 4,
              "items": {
                "type": "array",
                "minItems": 2,
                "items": {
                  "type": "number"
                }
              }
            }
          }
        },
        "bbox": {
          "type": "array",
          "minItems": 4,
          "items": {
            "type": "number"
          }
        }
      }
    },
    "AnyCrsGeoJsonGeometry": {
      "type": "object",
      "description": "AnyCrsGeoJSon geometry",
      "discriminator": "type",
      "required": [
        "type"
      ],
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "Point",
            "LineString",
            "Polygon",
            "MultiPoint",
            "MultiLineString",
            "MultiPolygon",
            "AnyCrsPoint",
            "AnyCrsLineString",
            "AnyCrsPolygon",
            "AnyCrsMultiPoint",
            "AnyCrsMultiLineString",
            "AnyCrsMultiPolygon"
          ],
          "description": "the geometry type"
        }
      }
    },
    "AnyCrsGeoJsonGeometryCollection": {
      "title": "AnyCrsGeoJSON GeometryCollection",
      "type": "object",
      "required": [
        "type",
        "geometries"
      ],
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "GeometryCollection",
            "AnyCrsGeometryCollection"
          ]
        },
        "geometries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AnyCrsGeoJsonGeometry"
          }
        },
        "bbox": {
          "type": "array",
          "minItems": 4,
          "items": {
            "type": "number"
          }
        }
      }
    },
    "AnyCrsGeoJsonFeatureGeometry": {
      "type": "object",
      "description": "AnyCrsGeoJSon feature geometry",
      "discriminator": "type",
      "required": [
        "type"
      ],
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "Point",
            "LineString",
            "Polygon",
            "MultiPoint",
            "MultiLineString",
            "MultiPolygon",
            "GeometryCollection",
            "AnyCrsPoint",
            "AnyCrsLineString",
            "AnyCrsPolygon",
            "AnyCrsMultiPoint",
            "AnyCrsMultiLineString",
            "AnyCrsMultiPolygon",
            "AnyCrsGeometryCollection"
          ],
          "description": "the geometry type"
        },
        "coordinates": {
          "type": "object"
        }
      }
    },
    "AnyProperty": {
      "title": "Any property extension",
      "type": "object",
      "additionalProperties": {
        "type": "object"
      }
    },
    "AnyCrsGeoJsonFeature": {
      "title": "AnyCrsGeoJSON Feature",
      "type": "object",
      "required": [
        "type",
        "properties",
        "geometry"
      ],
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "Feature",
            "AnyCrsFeature"
          ]
        },
        "properties": {
          "$ref": "#/definitions/AnyProperty"
        },
        "geometry": {
          "$ref": "#/definitions/AnyCrsGeoJsonFeatureGeometry"
        },
        "bbox": {
          "type": "array",
          "minItems": 4,
          "items": {
            "type": "number"
          }
        }
      }
    },
    "AnyCrsGeoJsonFeatureCollection": {
      "title": "AnyCrsGeoJSON FeatureCollection",
      "type": "object",
      "required": [
        "type",
        "features"
      ],
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "FeatureCollection",
            "AnyCrsFeatureCollection"
          ]
        },
        "features": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AnyCrsGeoJsonFeature"
          }
        },
        "bbox": {
          "type": "array",
          "minItems": 4,
          "items": {
            "type": "number"
          }
        },
        "persistableReferenceCrs": {
          "type": "string",
          "description": "The spatial context of this AnyCrsGeoJsonFeatureCollection as persistable reference string.",
          "title": "Spatial Reference"
        },
        "CoordinateReferenceSystemID": {
          "type": "string",
          "description": "The spatial context of this AnyCrsGeoJsonFeatureCollection as a record ID. If both CoordinateReferenceSystemID and persistableReferenceCrs exist, CoordinateReferenceSystemID takes precedence.",
          "title": "Spatial Reference"
        },
        "VerticalUnitID": {
          "type": "string",
          "description": "The vertical axis unit for this AnyCrsGeoJsonFeatureCollection as a record ID. If both VerticalUnitID and persistableReferenceUnitZ exist, VerticalUnitID takes precedence.",
          "title": "Vertical Unit"
        },
        "persistableReferenceUnitZ": {
          "type": "string",
          "description": "The vertical axis unit for this AnyCrsGeoJsonFeatureCollection as persistable reference string.",
          "title": "Vertical Unit"
        }
      }
    },
    "VersionInfo": {
      "type": "object",
      "properties": {
          "artifactId": {
              "type": "string"
          },
          "branch": {
              "type": "string"
          },
          "buildTime": {
              "type": "string"
          },
          "commitId": {
              "type": "string"
          },
          "commitMessage": {
              "type": "string"
          },
          "connectedOuterServices": {
              "type": "array",
              "items": {
                  "$ref": "#/definitions/ConnectedOuterService"
              }
          },
          "groupId": {
              "type": "string"
          },
          "version": {
              "type": "string"
          }
      }
  }
  }
}
