{
  "swagger": "2.0",
  "info": {
    "description": "Provides conversion/transformation services from a source to a target CRS. A coordinate operation is a conversion if the source and target CRS share the same datum; the operation is called transformation if datum transformations are involved, i.e. source and target CRS do not share the same datum.",
    "version": "1.0.0",
    "title": "CRS Conversion Service"
  },
  "host": "az-osdu1.evd.csp.slb.com",
  "x-google-allow": "all",
  "basePath": "/api/crs/v1",
  "security": [
    {
      "Bearer": []
    },
    {
      "google_id_token": []
    }
  ],
  "tags": [
    {
      "name": "Info Api"
    },
    {

      "name": "Trajectory Computation and Conversion (v4) (EXPERIMENTAL)",
      "description": "Convert trajectory stations"
    },
    {
      "name": "Convert",
      "description": "Convert a list of points"
    },
    {
      "name": "ConvertGeoJson",
      "description": "Convert a GeoJSON or AnyCrsGeoJson structure"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/v4/convertTrajectory": {
      "post": {
        "tags": [
          "Trajectory Computation and Conversion (v4) (EXPERIMENTAL)"
        ],
        "summary": "Convert trajectory stations",
        "description": "Convert a list of trajectory stations, given the unit and spatial context and a reference point in 3D where MD==0. For survey MD, Incl, Azi input, minimum curvature is used to calculate the local deviations and absolute coordinates. For MD_dX,dY,dZ, the inverse minimum curvature is first applied to compute Inc and Azi, which then are used as input to compute the trajectory.",
        "operationId": "convertTrajectory",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ConvertTrajectoryRequestV4"
            }
          },
          {
            "name": "data-partition-id",
            "in": "header",
            "description": "Tenant Id",
            "required": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/ConvertTrajectoryRequestV4"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Trajectory conversion performed successfully",
            "schema": {
              "$ref": "#/definitions/ConvertTrajectoryResponseV4"
            }
          },
          "400": {
            "description": "Bad input format",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "CRS-converter overloaded; try again later. See HttpHeader 'Retry-After'.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v4/convert": {
      "post": {
        "tags": [
          "Convert"
        ],
        "summary": "Convert a list of points",
        "description": "Convert a set of points from a source CRS to a target CRS. The v4 version has benefit of providing explicit transformation.Specifying an explicit transformation will override any early binding transformations in the fromCRS and toCRS. The CRS Converter will validate that the explicit transformation is valid for the fromCRS and toCRS.",
        "operationId": "convertPointV4",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ConvertPointsRequestV4"
            }
          },
          {
            "name": "data-partition-id",
            "in": "header",
            "description": "Tenant Id",
            "required": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/ConvertPointsRequestV4"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Conversion performed successfully",
            "schema": {
              "$ref": "#/definitions/ConvertPointsResponse"
            }
          },
          "500": {
            "description": "Unknown error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input format",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "CRS-converter overloaded; try again later. See HttpHeader 'Retry-After'.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v4/convertGeoJson": {
      "post": {
        "tags": [
          "ConvertGeoJson"
        ],
        "summary": "Convert a GeoJSON or AnyCrsGeoJson structure",
        "description": "Convert a GeoJSON or AnyCrsGeoJson structure to a specified target CRS. GeoJSON is declared - by definition - to be in the context of WGS 84. The v4 version has benefit of providing explicit transformation as an optional field. Specifying an explicit transformation will override any early binding transformations in the fromCRS and toCRS. The CRS Converter will validate that the explicit transformation is valid for the fromCRS and toCRS.",
        "operationId": "convertGeoJsonV4",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ConvertGeoJsonRequestV4"
            }
          },
          {
            "name": "data-partition-id",
            "in": "header",
            "description": "Tenant Id",
            "required": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/ConvertGeoJsonRequestV4"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Conversion performed successfully",
            "schema": {
              "$ref": "#/definitions/ConvertGeoJsonResponse"
            }
          },
          "500": {
            "description": "Unknown error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input format",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "503": {
            "description": "CRS-converter overloaded; try again later. See HttpHeader 'Retry-After'.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v4/info": {
      "get": {
        "tags": [
          "Info Api"
        ],
        "summary": "info",
        "operationId": "infoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data-partition-id",
            "in": "header",
            "description": "tenant",
            "required": true,
            "type": "string",
            "default": "opendes"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VersionInfo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "Point": {
      "type": "object",
      "required": [
        "x",
        "y",
        "z"
      ],
      "properties": {
        "x": {
          "type": "number",
          "format": "double",
          "example": 484074.5862320617,
          "description": "x coordinate or longitude"
        },
        "y": {
          "type": "number",
          "format": "double",
          "example": 5499819.191561815,
          "description": "y coordinate or latitude"
        },
        "z": {
          "type": "number",
          "format": "double",
          "example": 0,
          "description": "z coordinate"
        }
      },
      "description": "Point representation for CRS operations"
    },
    "TrajectoryStationOut": {
      "type": "object",
      "required": [
        "azimuthGN",
        "azimuthTN",
        "dxTN",
        "dyTN",
        "inclination",
        "md",
        "point"
      ],
      "properties": {
        "md": {
          "type": "number",
          "format": "double",
          "example": 2563.56,
          "description": "MD (measured depth) from vertical reference point in 'unitZ'."
        },
        "inclination": {
          "type": "number",
          "format": "double",
          "example": 15,
          "description": "Inclination angle in degrees of arc, 0.0 is vertical, 90.0 is horizontal."
        },
        "azimuthTN": {
          "type": "number",
          "format": "double",
          "example": 355.96,
          "description": "True North azimuth angle in degrees of arc, 0.0/360.0 is North."
        },
        "azimuthGN": {
          "type": "number",
          "format": "double",
          "example": 355,
          "description": "Grid North azimuth angle in degrees of arc, 0.0/360.0 is North."
        },
        "dxTN": {
          "type": "number",
          "format": "double",
          "example": 55.9,
          "description": "True E-W deviation in the local Cartesian engineering CRS from the well reference point; unit is given by container's 'unitXY'."
        },
        "dyTN": {
          "type": "number",
          "format": "double",
          "example": -145.3,
          "description": "True N-S deviation in the local Cartesian engineering CRS from the well reference point; Y is aligned with TrueNorth; unit is given by container's 'unitXY'."
        },
        "point": {
          "description": "Trajectory station point in trajectoryCRS and vertical unit as defined in container's 'unitZ'.",
          "$ref": "#/definitions/Point"
        },
        "wgs84Longitude": {
          "type": "number",
          "format": "double",
          "description": "WGS 84 longitude in dega"
        },
        "wgs84Latitude": {
          "type": "number",
          "format": "double",
          "description": "WGS 84 latitude in dega"
        },
        "dls": {
          "type": "number",
          "format": "double",
          "description": "Curvature, Dog Leg Severity, measured in 'unitDls'."
        },
        "original": {
          "type": "boolean",
          "description": "Original trajectory station if true, interpolated trajectory station if false."
        },
        "dz": {
          "type": "number",
          "format": "double"
        }
      },
      "description": "Output trajectory station record; context is provided by the container."
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "description": "Error message"
        }
      },
      "description": "Response resulting of a failed CRS convertion operation"
    },
    "ConvertTrajectoryRequestV4": {
      "required": [
        "inputStations",
        "method",
        "trajectoryCRS",
        "unitZ"
      ],
      "type": "object",
      "properties": {
        "trajectoryCRS": {
          "type": "string",
          "description": "Coordinate reference system for the reference point; typically the CRS is a projected CRS; if a geographic CRS is provided, the unitXY must be defined and the azimuthReference must be TRUE_NORTH.",
          "example": "\"{\"wkt\":\"PROJCS[\\\"WGS_1984_UTM_Zone_31N\\\",GEOGCS[\\\"GCS_WGS_1984\\\",DATUM[\\\"D_WGS_1984\\\",SPHEROID[\\\"WGS_1984\\\",6378137.0,298.257223563]],PRIMEM[\\\"Greenwich\\\",0.0],UNIT[\\\"Degree\\\",0.0174532925199433]],PROJECTION[\\\"Transverse_Mercator\\\"],PARAMETER[\\\"False_Easting\\\",500000.0],PARAMETER[\\\"False_Northing\\\",0.0],PARAMETER[\\\"Central_Meridian\\\",3.0],PARAMETER[\\\"Scale_Factor\\\",0.9996],PARAMETER[\\\"Latitude_Of_Origin\\\",0.0],UNIT[\\\"Meter\\\",1.0],AUTHORITY[\\\"EPSG\\\",32631]]\",\"ver\":\"PE_10_3_1\",\"name\":\"WGS_1984_UTM_Zone_31N\",\"authCode\":{\"auth\":\"EPSG\",\"code\":\"32631\"},\"type\":\"LBC\"}\""
        },
        "azimuthReference": {
          "type": "string",
          "description": "azimuth reference for the input trajectory station azimuth values (TRUE_NORTH or GridNorth)",
          "example": "TRUE_NORTH"
        },
        "unitXY": {
          "type": "string",
          "description": "The horizontal unit of the dx, dy in the input trajectory stations; the unit must be a length unit in 'persistable model' format, see example. And the UnitXY is required (for the input dx,dy) ",
          "example": "\"{\"scaleOffset\":{\"scale\":1.0,\"offset\":0.0},\"symbol\":\"m\",\"baseMeasurement\":{\"ancestry\":\"Length\",\"type\":\"UM\"},\"type\":\"USO\"}\""
        },
        "unitZ": {
          "type": "string",
          "description": "The vertical unit of the dz in the input trajectory stations; the unit must be a length unit in 'persistable model' format, see example.",
          "example": "\"{\"scaleOffset\":{\"scale\":1.0,\"offset\":0.0},\"symbol\":\"m\",\"baseMeasurement\":{\"ancestry\":\"Length\",\"type\":\"UM\"},\"type\":\"USO\"}\""
        },
        "referencePoint": {
          "$ref": "#/definitions/Point"
        },
        "inputStations": {
          "type": "array",
          "description": "The array of input trajectory stations",
          "example": [
            {
              "md": 0,
              "inclination": 0,
              "azimuth": 0
            },
            {
              "md": 1000,
              "inclination": 0,
              "azimuth": 0
            },
            {
              "md": 2000,
              "inclination": 90,
              "azimuth": 0
            },
            {
              "md": 3000,
              "inclination": 90,
              "azimuth": 0
            },
            {
              "md": 5000,
              "inclination": 90,
              "azimuth": 90
            },
            {
              "md": 6000,
              "inclination": 90,
              "azimuth": 90
            }
          ],
          "items": {
            "$ref": "#/definitions/TrajectoryStationInV4"
          }
        },
        "method": {
          "type": "string",
          "description": "The computation method - 'AzimuthalEquidistant' (default) or 'LMP' (Lee's modified proposal SPE96813)",
          "example": "AzimuthalEquidistant"
        },
        "inputKind": {
          "type": "string",
          "description": "The kind of input; one of MD_Inclination_Azimuth (default), MD_X_Y_Z, MD_dX_dY_dZ, X_Y_Z, dX_dY_dZ. MD stands for measured depth; MD_X_Y_Z/X_Y_Z stand for absolute coordinates in the reference CRS, MD_dX_dY_dZ/dX_dY_dZ stand for deviations relative to the reference point. MD_Incl for Handling inclination-only surveys",
          "example": "MD_Inclination_Azimuth"
        },
        "interpolate": {
          "type": "boolean",
          "description": "Perform trajectory interpolation on demand; default is true.",
          "example": true
        },
        "MD_i": {
          "$ref": "#/definitions/MinimumDepthInterval"
        },
        "unitMD": {
          "type": "string"
        }
      },
      "example":{
        "azimuthReference": "GN",
        "interpolate": false,
        "referencePoint": {
          "x": 400000,
          "y": 6500000,
          "z": 100
        },
        "unitZ": "osdu:reference-data--UnitOfMeasure:m:",
        "unitMD": "osdu:reference-data--UnitOfMeasure:m:",
        "inputStations": [
          {
            "md": 0,
            "inclination": 0,
            "azimuth": 20
          },
          {
            "md": 100,
            "inclination": 10,
            "azimuth": 40
          }
        ],
        "MD_i": {
          "md_i": [
            50,
            75
          ]
        },
        "trajectoryCRS": "osdu:reference-data--CoordinateReferenceSystem:Projected:EPSG::32631:",
        "inputKind": "MD_Incl_Azim",
        "method": "AzimuthalEquidistant"
      }
    },
    "ConvertGeoJsonRequest": {
      "title": "Convert GeoJson/AnyCrsGeoJson Request",
      "description": "Request to convert a GeoJSON FeatureCollection or AnyCrsFeatureCollection from WGS 84 or AnyCrsFeatureCollection.persistableReferenceCrs to a target CRS.",
      "type": "object",
      "required": [
        "featureCollection",
        "toCRS"
      ],
      "properties": {
        "featureCollection": {
          "$ref": "#/definitions/AnyCrsGeoJsonFeatureCollection"
        },
        "toCRS": {
          "title": "GeoJson Request",
          "type": "string",
          "description": "The GeoJSON FeatureCollection or AnyCrsFeatureCollection structure to be converted/transformed. GeoJSON is always based on WGS 84; AnyCrsFeatureCollection carries the CRS context in the persistableReferenceCrs property. This value could be persistable reference string or a record ID"
        },
        "toUnitZ": {
          "type": "string",
          "description": "The vertical axis unit for this AnyCrsGeoJsonFeatureCollection as persistable reference string or a record ID)",
          "title": "Vertical Unit"
        }
      },
      "example": {
        "toCRS": "osdu:reference-data--CoordinateReferenceSystem:Geographic2D:EPSG::4326:",
        "toUnitZ": "osdu:reference-data--UnitOfMeasure:m:",
        "featureCollection": {
          "type": "AnyCrsFeatureCollection",
          "CoordinateReferenceSystemID": "osdu:reference-data--CoordinateReferenceSystem:BoundProjected:EPSG::29193_EPSG::1867:",
          "persistableReferenceCrs": "osdu:reference-data--CoordinateReferenceSystem:BoundProjected:EPSG::29193_EPSG::1867:",
          "persistableReferenceUnitZ": "osdu:reference-data--UnitOfMeasure:m:",
          "features": [
            {
              "type": "AnyCrsFeature",
              "properties": {},
              "geometry": {
                "type": "AnyCrsPolygon",
                "coordinates": [
                  [
                    [697339.525, 7239989.403, 0],
                    [697339.525, 7239989.500, 0],
                    [697339.525, 7239989.600, 0],
                    [697339.525, 7239989.403, 0]
                  ]
                ],
                "bbox": null
              },
              "bbox": null
            }
          ],
          "bbox": null,
          "properties": {}
        }
      }
    },
    "AnyCrsGeoJsonFeatureCollection": {
      "title": "AnyCrsGeoJSON FeatureCollection",
      "type": "object",
      "required": [
        "type",
        "features"
      ],
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "FeatureCollection",
            "AnyCrsFeatureCollection"
          ]
        },
        "features": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AnyCrsGeoJsonFeature"
          }
        },
        "bbox": {
          "type": "array",
          "minItems": 4,
          "items": {
            "type": "number"
          }
        },
        "persistableReferenceCrs": {
          "type": "string",
          "description": "The spatial context of this AnyCrsGeoJsonFeatureCollection as persistable reference string.",
          "title": "Spatial Reference"
        },
        "CoordinateReferenceSystemID": {
          "type": "string",
          "description": "The spatial context of this AnyCrsGeoJsonFeatureCollection as a record ID. If both CoordinateReferenceSystemID and persistableReferenceCrs exist, CoordinateReferenceSystemID takes precedence.",
          "title": "Spatial Reference"
        },
        "VerticalUnitID": {
          "type": "string",
          "description": "The vertical axis unit for this AnyCrsGeoJsonFeatureCollection as a record ID. If both VerticalUnitID and persistableReferenceUnitZ exist, VerticalUnitID takes precedence.",
          "title": "Vertical Unit"
        },
        "persistableReferenceUnitZ": {
          "type": "string",
          "description": "The vertical axis unit for this AnyCrsGeoJsonFeatureCollection as persistable reference string.",
          "title": "Vertical Unit"
        }
      }
    },
    "AnyCrsGeoJsonFeature": {
      "title": "AnyCrsGeoJSON Feature",
      "type": "object",
      "required": [
        "type",
        "properties",
        "geometry"
      ],
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "Feature",
            "AnyCrsFeature"
          ]
        },
        "properties": {
          "$ref": "#/definitions/AnyProperty"
        },
        "geometry": {
          "$ref": "#/definitions/AnyCrsGeoJsonFeatureGeometry"
        },
        "bbox": {
          "type": "array",
          "minItems": 4,
          "items": {
            "type": "number"
          }
        }
      }
    },
    "AnyProperty": {
      "title": "Any property extension",
      "type": "object",
      "additionalProperties": {
        "type": "object"
      }
    },
    "AnyCrsGeoJsonFeatureGeometry": {
      "type": "object",
      "description": "AnyCrsGeoJSon feature geometry",
      "discriminator": "type",
      "required": [
        "type"
      ],
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "Point",
            "LineString",
            "Polygon",
            "MultiPoint",
            "MultiLineString",
            "MultiPolygon",
            "GeometryCollection",
            "AnyCrsPoint",
            "AnyCrsLineString",
            "AnyCrsPolygon",
            "AnyCrsMultiPoint",
            "AnyCrsMultiLineString",
            "AnyCrsMultiPolygon",
            "AnyCrsGeometryCollection"
          ],
          "description": "the geometry type"
        },
        "coordinates": {
          "type": "object"
        }
      }
    },
    "ConvertPointsRequestV4": {
      "required": [
        "fromCRS",
        "points",
        "toCRS"
      ],
      "type": "object",
      "properties": {
        "fromCRS": {
          "type": "string",
          "description": "Source CRS as persistable reference string or recordId.",
          "example": "osdu:reference-data--CoordinateReferenceSystem:Geographic2D:EPSG::4326:"
        },
        "toCRS": {
          "type": "string",
          "description": "Target CRS as persistable reference string or recordId.",
          "example": "osdu:reference-data--CoordinateReferenceSystem:Geographic2D:EPSG::4267:"
        },
        "points": {
          "type": "array",
          "description": "List of points to be converted",
          "example": [
            {
              "x": -90,
              "y": 30,
              "z": 0
            }
          ],
          "items": {
            "$ref": "#/definitions/Points"
          }
        },
        "transformation": {
          "type": "string",
          "description": "CRS Transform",
          "example": "osdu:reference-data--CoordinateTransformation:EPSG::15851:"
        }
      },
      "example":{
        "fromCRS": "osdu:reference-data--CoordinateReferenceSystem:Geographic2D:EPSG::4326:",
        "toCRS": "osdu:reference-data--CoordinateReferenceSystem:Geographic2D:EPSG::4267:",
        "transformation": "osdu:reference-data--CoordinateTransformation:EPSG::15851:",
        "points": [
          {
            "x": -90.0,
            "y": 30.0,
            "z": 0
          }
        ]
      }
    },
    "Points": {
      "required": [
        "x",
        "y",
        "z"
      ],
      "type": "object",
      "properties": {
        "x": {
          "type": "number",
          "description": "x coordinate or longitude",
          "format": "double",
          "example": -90
        },
        "y": {
          "type": "number",
          "description": "y coordinate or latitude",
          "format": "double",
          "example": 30
        },
        "z": {
          "type": "number",
          "description": "z coordinate",
          "format": "double",
          "example": 0.0
        }
      },
      "description": "Point representation for CRS operations"
    },
    "ConvertPointsResponse": {
      "type": "object",
      "properties": {
        "successCount": {
          "type": "integer",
          "description": "Number of points successfully converted. If the number is less than the request array length conversion/transformation failures occurred.",
          "example": "1"
        },
        "points": {
          "type": "array",
          "description": "Converted points; length and order of the array is the same as in the request. Points, which failed to convert, are returned as NaN.",
          "example": [
            {
              "x": -89.99993037859349,
              "y": 29.999797886559996,
              "z": 0.0
            }
          ]
        },
        "operationsApplied": {
          "type": "array",
          "description": "The list of operations performed on the points as a list of strings",
          "example": ["transformation GCS_WGS_1984 to GCS_North_American_1927 using NAD_1927_To_WGS_1984_79_CONUS; 1 points successfully transformed"]
        }
      },
      "example":{
        "successCount": 1,
        "points": [
          {
            "x": -89.99993037859349,
            "y": 29.999797886559996,
            "z": 0.0
          }
        ],
        "operationsApplied": [
          "transformation GCS_WGS_1984 to GCS_North_American_1927 using NAD_1927_To_WGS_1984_79_CONUS; 1 points successfully transformed"
        ]
      }
    },
    "ConvertGeoJsonResponse": {
      "title": "Convert GeoJSON/AnyCrsGeoJson response",
      "description": "Response of a CRS conversion/transformation operation involving GeoJSON FeatureCollection or AnyCrsFeatureCollection.",
      "type": "object",
      "properties": {
        "totalCount": {
          "type": "integer",
          "description": "The total number of coordinates in the GeoJSON FeatureCollection or AnyCrsFeatureCollection."
        },
        "successCount": {
          "type": "integer",
          "description": "The number of coordinates in the GeoJSON FeatureCollection or AnyCrsFeatureCollection successfully converted/transformed. If this number is less than totalCount then conversion/transformation errors have occurred."
        },
        "featureCollection": {
          "$ref": "#/definitions/AnyCrsGeoJsonFeatureCollection"
        },
        "operationsApplied": {
          "type": "array",
          "description": "The list of operations, which have been applied to the points",
          "items": {
            "type": "string"
          }
        }
      },
      "example": {
        "successCount": 4,
        "totalCount": 4,
        "featureCollection": {
          "type": "FeatureCollection",
          "features": [
            {
              "type": "Feature",
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -43.04597676303939,
                      -24.94299718370678,
                      0.0
                    ],
                    [
                      -43.04597677685517,
                      -24.942996308196268,
                      0.0
                    ],
                    [
                      -43.04597679109822,
                      -24.942995405608062,
                      0.0
                    ],
                    [
                      -43.04597676303939,
                      -24.94299718370678,
                      0.0
                    ]
                  ]
                ]
              },
              "properties": {}
            }
          ],
          "properties": {},
          "persistableReferenceUnitZ": "{\"scaleOffset\":{\"scale\":1.0,\"offset\":0.0},\"symbol\":\"m\",\"baseMeasurement\":{\"ancestry\":\"Length\",\"type\":\"UM\"},\"type\":\"USO\"}"
        },
        "operationsApplied": [
          "conversion from SAD_1969_UTM_Zone_23S to GCS_South_American_1969; 4 points converted",
          "transformation GCS_South_American_1969 to GCS_WGS_1984 using SAD_1969_To_WGS_1984_4; 4 points successfully transformed",
          "No unit conversion for Z-axis"
        ]
      }
    },
    "MinimumDepthInterval": {
      "type": "object",
      "properties": {
        "md_i": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "md_interval": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "TrajectoryStationInV4": {
      "required": [
        "inclination",
        "md"
      ],
      "type": "object",
      "properties": {
        "md": {
          "type": "number",
          "description": "MD (measured depth) from vertical reference point in 'unitZ'.",
          "format": "double",
          "example": 2563.56
        },
        "inclination": {
          "type": "number",
          "description": "Inclination angle in degrees of arc, 0.0 is vertical, 90.0 is horizontal.",
          "format": "double",
          "example": 15.0
        },
        "azimuth": {
          "type": "number",
          "description": "Azimuth angle in degrees of arc, 0.0/360.0 is North; reference given by azimuthReference (TRUE_NORTH or GridNorth).",
          "format": "double",
          "example": 355.0
        },
        "dx": {
          "type": "number",
          "description": "E-W deviation in the local Cartesian engineering CRS from the well reference point; unit is given by container's 'unitXY' or projected 'trajectoryCRS'.",
          "format": "double",
          "example": 55.9
        },
        "dy": {
          "type": "number",
          "description": "N-S deviation in the local Cartesian engineering CRS from the well reference point; Y is aligned with azimuth reference (TRUE_NORTH or projected GridNorth); unit is given by container's 'unitXY' or projected 'trajectoryCRS'.",
          "format": "double",
          "example": -145.3
        },
        "dz": {
          "type": "number",
          "description": "True vertical deviation in the local Cartesian engineering CRS from the well reference point; unit is given by container's unitZ; downwards positive.",
          "format": "double",
          "example": 1965.6
        }
      },
      "description": "Input trajectory station record; context is provided by the container.",
      "example": [
        {
          "md": 0,
          "inclination": 0,
          "azimuth": 0
        },
        {
          "md": 1000,
          "inclination": 0,
          "azimuth": 0
        },
        {
          "md": 2000,
          "inclination": 90,
          "azimuth": 0
        },
        {
          "md": 3000,
          "inclination": 90,
          "azimuth": 0
        },
        {
          "md": 5000,
          "inclination": 90,
          "azimuth": 90
        },
        {
          "md": 6000,
          "inclination": 90,
          "azimuth": 90
        }
      ]
    },
    "ConvertTrajectoryResponseV4": {
      "required": [
        "localCRS",
        "method",
        "stations",
        "trajectoryCRS",
        "unitDls",
        "unitXY",
        "unitZ"
      ],
      "type": "object",
      "properties": {
        "trajectoryCRS": {
          "type": "string",
          "description": "Coordinate reference system for the reference point; typically the CRS is a projected CRS; if a geographic CRS is provided, the unitXY must be defined and the azimuthReference must be TRUE_NORTH.",
          "example": "{\"authCode\":{\"auth\":\"SLB\",\"code\":\"30200002\"},\"lateBoundCRS\":{\"authCode\":{\"auth\":\"EPSG\",\"code\":\"30200\"},\"name\":\"Trinidad_1903_Trinidad_Grid\",\"type\":\"LBC\",\"ver\":\"PE_10_3_1\",\"wkt\":\"PROJCS[\\\"Trinidad_1903_Trinidad_Grid\\\",GEOGCS[\\\"GCS_Trinidad_1903\\\",DATUM[\\\"D_Trinidad_1903\\\",SPHEROID[\\\"Clarke_1858\\\",6378293.64520876,294.260676369]],PRIMEM[\\\"Greenwich\\\",0.0],UNIT[\\\"Degree\\\",0.0174532925199433]],PROJECTION[\\\"Cassini\\\"],PARAMETER[\\\"False_Easting\\\",430000.0],PARAMETER[\\\"False_Northing\\\",325000.0],PARAMETER[\\\"Central_Meridian\\\",-61.3333333333333],PARAMETER[\\\"Scale_Factor\\\",1.0],PARAMETER[\\\"Latitude_Of_Origin\\\",10.4416666666667],UNIT[\\\"Link_Clarke\\\",0.201166195164],AUTHORITY[\\\"EPSG\\\",30200]]\"},\"name\":\"Trinidad 1903 * EOG-Tto Trin / Trinidad Grid [30200,10085]\",\"singleCT\":{\"authCode\":{\"auth\":\"EPSG\",\"code\":\"10085\"},\"name\":\"Trinidad_1903_To_WGS_1984_2\",\"type\":\"ST\",\"ver\":\"PE_10_3_1\",\"wkt\":\"GEOGTRAN[\\\"Trinidad_1903_To_WGS_1984_2\\\",GEOGCS[\\\"GCS_Trinidad_1903\\\",DATUM[\\\"D_Trinidad_1903\\\",SPHEROID[\\\"Clarke_1858\\\",6378293.64520876,294.260676369]],PRIMEM[\\\"Greenwich\\\",0.0],UNIT[\\\"Degree\\\",0.0174532925199433]],GEOGCS[\\\"GCS_WGS_1984\\\",DATUM[\\\"D_WGS_1984\\\",SPHEROID[\\\"WGS_1984\\\",6378137.0,298.257223563]],PRIMEM[\\\"Greenwich\\\",0.0],UNIT[\\\"Degree\\\",0.0174532925199433]],METHOD[\\\"Geocentric_Translation\\\"],PARAMETER[\\\"X_Axis_Translation\\\",-61.0],PARAMETER[\\\"Y_Axis_Translation\\\",285.2],PARAMETER[\\\"Z_Axis_Translation\\\",471.6],AUTHORITY[\\\"EPSG\\\",10085]]\"},\"type\":\"EBC\",\"ver\":\"PE_10_3_1\"}"
        },
        "unitXY": {
          "type": "string",
          "description": "The horizontal unit of the dx, dy in the output trajectory stations.",
          "example": "{\"scaleOffset\":{\"scale\":1.0,\"offset\":0.0},\"symbol\":\"m\",\"baseMeasurement\":{\"ancestry\":\"Length\",\"type\":\"UM\"},\"type\":\"USO\"}"
        },
        "unitZ": {
          "type": "string",
          "description": "The vertical unit of the dz in the output trajectory stations.",
          "example": "{\"scaleOffset\":{\"scale\":1.0,\"offset\":0.0},\"symbol\":\"m\",\"baseMeasurement\":{\"ancestry\":\"Length\",\"type\":\"UM\"},\"type\":\"USO\"}"
        },
        "unitDls": {
          "type": "string",
          "description": "The unit of the dog leg severity (DLS) in the output trajectory stations.",
          "example": "%7B%22ScaleOffset%22%3A%7B%22Scale%22%3A5.72614583987641E-4%2C%22Offset%22%3A0.0%7D%2C%22Symbol%22%3A%22deg%2F100ft%22%2C%22BaseMeasurement%22%3A%22%257B%2522Ancestry%2522%253A%2522Rotation_Per_Length%2522%257D%22%7D"
        },
        "stations": {
          "type": "array",
          "description": "Computed trajectory stations.",
          "items": {
            "$ref": "#/definitions/TrajectoryStationOut"
          }
        },
        "localCRS": {
          "type": "string",
          "description": "Coordinate Reference System for the local, True North oriented, true distance, engineering CRS with origin at the well's surface location.",
          "example": "{\"authCode\":{\"auth\":\"SLB\",\"code\":\"30200002\"},\"lateBoundCRS\":{\"authCode\":{\"auth\":\"EPSG\",\"code\":\"30200\"},\"name\":\"Trinidad_1903_Trinidad_Grid\",\"type\":\"LBC\",\"ver\":\"PE_10_3_1\",\"wkt\":\"PROJCS[\\\"Trinidad_1903_Trinidad_Grid\\\",GEOGCS[\\\"GCS_Trinidad_1903\\\",DATUM[\\\"D_Trinidad_1903\\\",SPHEROID[\\\"Clarke_1858\\\",6378293.64520876,294.260676369]],PRIMEM[\\\"Greenwich\\\",0.0],UNIT[\\\"Degree\\\",0.0174532925199433]],PROJECTION[\\\"Cassini\\\"],PARAMETER[\\\"False_Easting\\\",430000.0],PARAMETER[\\\"False_Northing\\\",325000.0],PARAMETER[\\\"Central_Meridian\\\",-61.3333333333333],PARAMETER[\\\"Scale_Factor\\\",1.0],PARAMETER[\\\"Latitude_Of_Origin\\\",10.4416666666667],UNIT[\\\"Link_Clarke\\\",0.201166195164],AUTHORITY[\\\"EPSG\\\",30200]]\"},\"name\":\"Trinidad 1903 * EOG-Tto Trin / Trinidad Grid [30200,10085]\",\"singleCT\":{\"authCode\":{\"auth\":\"EPSG\",\"code\":\"10085\"},\"name\":\"Trinidad_1903_To_WGS_1984_2\",\"type\":\"ST\",\"ver\":\"PE_10_3_1\",\"wkt\":\"GEOGTRAN[\\\"Trinidad_1903_To_WGS_1984_2\\\",GEOGCS[\\\"GCS_Trinidad_1903\\\",DATUM[\\\"D_Trinidad_1903\\\",SPHEROID[\\\"Clarke_1858\\\",6378293.64520876,294.260676369]],PRIMEM[\\\"Greenwich\\\",0.0],UNIT[\\\"Degree\\\",0.0174532925199433]],GEOGCS[\\\"GCS_WGS_1984\\\",DATUM[\\\"D_WGS_1984\\\",SPHEROID[\\\"WGS_1984\\\",6378137.0,298.257223563]],PRIMEM[\\\"Greenwich\\\",0.0],UNIT[\\\"Degree\\\",0.0174532925199433]],METHOD[\\\"Geocentric_Translation\\\"],PARAMETER[\\\"X_Axis_Translation\\\",-61.0],PARAMETER[\\\"Y_Axis_Translation\\\",285.2],PARAMETER[\\\"Z_Axis_Translation\\\",471.6],AUTHORITY[\\\"EPSG\\\",10085]]\"},\"type\":\"EBC\",\"ver\":\"PE_10_3_1\"}"
        },
        "method": {
          "type": "string",
          "description": "The computation method used - 'AzimuthalEquidistant' (default) or 'LMP' (Lee's modified proposal SPE96813).",
          "example": "AzimuthalEquidistant"
        },
        "operationsApplied": {
          "type": "array",
          "description": "The list of operations performed on the points as a list of strings",
          "items": {
            "type": "string",
            "description": "The list of operations performed on the points as a list of strings"
          }
        },
        "stations_i": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TrajectoryStationOut"
          }
        },
        "scaleConvergenceList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScaleConvergence"
          }
        },
        "unitMD": {
          "type": "string"
        },
        "inputKind": {
          "type": "string",
          "description": "The kind of input; one of MD_Inclination_Azimuth (default), MD_X_Y_Z, MD_dX_dY_dZ, X_Y_Z, dX_dY_dZ. MD stands for measured depth; MD_X_Y_Z/X_Y_Z stand for absolute coordinates in the reference CRS, MD_dX_dY_dZ/dX_dY_dZ stand for deviations relative to the reference point.",
          "example": "MD_Inclination_Azimuth"
        }
      },
      "example":{
        "trajectoryCRS": "{\"authCode\":{\"auth\":\"EPSG\",\"code\":\"32631\"},\"name\":\"WGS_1984_UTM_Zone_31N\",\"type\":\"LBC\",\"ver\":\"PE_10_9_1\",\"wkt\":\"PROJCS[\\\"WGS_1984_UTM_Zone_31N\\\",GEOGCS[\\\"GCS_WGS_1984\\\",DATUM[\\\"D_WGS_1984\\\",SPHEROID[\\\"WGS_1984\\\",6378137.0,298.257223563]],PRIMEM[\\\"Greenwich\\\",0.0],UNIT[\\\"Degree\\\",0.0174532925199433]],PROJECTION[\\\"Transverse_Mercator\\\"],PARAMETER[\\\"False_Easting\\\",500000.0],PARAMETER[\\\"False_Northing\\\",0.0],PARAMETER[\\\"Central_Meridian\\\",3.0],PARAMETER[\\\"Scale_Factor\\\",0.9996],PARAMETER[\\\"Latitude_Of_Origin\\\",0.0],UNIT[\\\"Meter\\\",1.0],AUTHORITY[\\\"EPSG\\\",32631]]\"}",
        "unitXY": "{\"abcd\":{\"a\":0.0,\"b\":1.0,\"c\":1.0,\"d\":0.0},\"symbol\":\"m\",\"baseMeasurement\":{\"ancestry\":\"L\",\"type\":\"UM\"},\"type\":\"UAD\"}",
        "unitZ": "{\"abcd\":{\"a\":0.0,\"b\":1.0,\"c\":1.0,\"d\":0.0},\"symbol\":\"m\",\"baseMeasurement\":{\"ancestry\":\"L\",\"type\":\"UM\"},\"type\":\"UAD\"}",
        "unitDls": "{\"scaleOffset\":{\"scale\":5.72614583987641E-4,\"offset\":0.0},\"symbol\":\"deg/100ft\",\"baseMeasurement\":{\"ancestry\":\"Rotation_Per_Length\",\"type\":\"UM\"},\"type\":\"USO\"}",
        "stations": [
          {
            "md": 0.0,
            "inclination": 0.0,
            "azimuthTN": 18.529449533844627,
            "azimuthGN": 20.0,
            "dxTN": 0.0,
            "dyTN": 0.0,
            "point": {
              "x": 399999.99999999936,
              "y": 6499999.999999927,
              "z": 100.0
            },
            "wgs84Longitude": 1.2778067531835464,
            "wgs84Latitude": 58.62877104865894,
            "dls": 0.0,
            "original": true,
            "dz": 0.0
          },
          {
            "md": 100.0,
            "inclination": 10.0,
            "azimuthTN": 38.52944953384463,
            "azimuthGN": 40.0,
            "dxTN": 5.422189533665295,
            "dyTN": 6.809439428156647,
            "point": {
              "x": 400005.59360307665,
              "y": 6500006.666196379,
              "z": 0.5069229954701058
            },
            "wgs84Longitude": 1.2779000901442394,
            "wgs84Latitude": 58.62883218086717,
            "dls": 3.048000000000004,
            "original": true,
            "dz": 99.4930770045299
          }
        ],
        "localCRS": "{\"name\":\"Azimuthal Equidistant\",\"type\":\"LBC\",\"ver\":\"PE_10_9_1\",\"wkt\":\"PROJCS[\\\"Azimuthal Equidistant Lng=1.27780675;Lat=58.62877105\\\",GEOGCS[\\\"GCS_WGS_1984\\\",DATUM[\\\"D_WGS_1984\\\",SPHEROID[\\\"WGS_1984\\\",6378137.0,298.257223563]],PRIMEM[\\\"Greenwich\\\",0.0],UNIT[\\\"Degree\\\",0.0174532925199433]],PROJECTION[\\\"Modified Azimuthal_Equidistant\\\"],PARAMETER[\\\"False_Easting\\\",0.0],PARAMETER[\\\"False_Northing\\\",0.0],PARAMETER[\\\"Central_Meridian\\\",1.2778067531835273],PARAMETER[\\\"Latitude_Of_Origin\\\",58.62877104865958],UNIT[\\\"Meter\\\",1.0]]\"}",
        "method": "AzimuthalEquidistant",
        "operationsApplied": [
          "derived TN from GN azimuth by grid convergence 358.529450",
          "unitMD Factor value: 1.0 is used for computation of MD",
          "computed deflections via minimum curvature method",
          "computation method: AzimuthalEquidistant",
          "conversion from 'Azimuthal Equidistant' to 'GCS_WGS_1984'",
          "conversion from 'GCS_WGS_1984' to 'WGS_1984_UTM_Zone_31N'",
          "to WGS 84: conversion from WGS_1984_UTM_Zone_31N to GCS_WGS_1984; 2 points converted",
          "Interpolation for MD_i input stations;2 points interpolated",
          "to WGS 84: conversion from WGS_1984_UTM_Zone_31N to GCS_WGS_1984; 2 points converted"
        ],
        "stations_i": [
          {
            "md": 50.0,
            "inclination": 4.999999999999992,
            "azimuthTN": 38.52944953384463,
            "azimuthGN": 40.0,
            "dxTN": 1.35813143348407,
            "dyTN": 1.7056050280731863,
            "point": {
              "x": 400001.40145529207,
              "y": 6500001.670189307,
              "z": 50.063437802312535
            },
            "wgs84Longitude": 1.2778301383620794,
            "wgs84Latitude": 58.628786365100225,
            "dls": 5.0,
            "original": false,
            "dz": 49.936562197687465
          },
          {
            "md": 75.0,
            "inclination": 7.4999999999999645,
            "azimuthTN": 38.52944953384463,
            "azimuthGN": 40.0,
            "dxTN": 3.0533721019185904,
            "dyTN": 3.834567613423716,
            "point": {
              "x": 400003.1507734719,
              "y": 6500003.754945532,
              "z": 25.214000698777227
            },
            "wgs84Longitude": 1.2778593281324027,
            "wgs84Latitude": 58.628805483313386,
            "dls": 7.499999999999999,
            "original": false,
            "dz": 74.78599930122277
          }
        ],
        "scaleConvergenceList": [
          {
            "scalefactor": 0.999723,
            "convergence": -1.47055,
            "point": {
              "x": 399999.99999999936,
              "y": 6499999.999999927,
              "z": 100.0
            }
          },
          {
            "scalefactor": 0.999723,
            "convergence": -1.47047,
            "point": {
              "x": 400005.59360307665,
              "y": 6500006.666196379,
              "z": 0.5069229954701058
            }
          }
        ],
        "unitMD": "{\"abcd\":{\"a\":0.0,\"b\":1.0,\"c\":1.0,\"d\":0.0},\"symbol\":\"m\",\"baseMeasurement\":{\"ancestry\":\"L\",\"type\":\"UM\"},\"type\":\"UAD\"}",
        "inputKind": "MD_Incl_Azim"
      }
    },
    "ScaleConvergence": {
      "type": "object",
      "properties": {
        "scalefactor": {
          "type": "number",
          "description":"Multiplier to correct a distance along the ellipsoid (“geodetic distance”) to the grid plane of the map projection (“grid distance”). Note: only a conformal map projection has the same point scale factor in all directions at a given location",
          "example":"0.999723",
          "format": "double"
        },
        "convergence": {
          "type": "number",
          "description":"Grid convergence is important in wellbore positioning if azimuth angles are reported referenced to Grid North and observations need to be corrected. ",
          "example":"-1.47055",
          "format": "double"
        },
        "point": {
          "$ref": "#/definitions/Point"
        }
      }
    }
  },
  "VersionInfo": {
    "type": "object",
    "properties": {
      "artifactId": {
        "type": "string"
      },
      "branch": {
        "type": "string"
      },
      "buildTime": {
        "type": "string"
      },
      "commitId": {
        "type": "string"
      },
      "commitMessage": {
        "type": "string"
      },
      "connectedOuterServices": {
        "type": "array"
      },
      "groupId": {
        "type": "string"
      },
      "version": {
        "type": "string"
      }
    }
  }
}